.container {

    width: 80%;
    margin: auto;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: lighter;
    font-size: 22px;
    color: #222;
    line-height: 1.6;

}

.header {
    background-image: url("first-website-header.png");
    height: 402px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 180px;
    box-sizing: border-box;
    margin-bottom: 60px;
}

.headertext {
    margin-left: 25%;
    font-family: 'Abril Fatface', cursive;
    color:  #222;

}

.headertext h3 {
    font-size: 35px;
    margin-bottom: 0;
}

.headertext h1 {
    font-size: 70px;
    margin-top: 0;
}

.content {
    width: 60%;
    margin: auto;
}

ul {
    list-style-type: square;
}


.qoute {
    font-family: 'Abril Fatface', cursive;
    font-size: 65px;
    width: 75%;
    background-color: darkslategray;
    margin: auto;
    margin-top: 40px;
    position: relative;
}

.qoute p {
    text-align: left;
    color: white;
    padding: 60px 0;
    margin: 0 60px;
}


.two {
    text-transform: uppercase;
    margin: 60px 0;
    font-weight: bold;
}

.three {
    font-weight: bold;
    margin-bottom: 0;
}

.sub {
    font-family: 'Merriweather', serif;
    font-style: italic;
    font-size: 15px;
    margin-top: 0;
}


.line {
    height: 5px;
    background-color: darkslategray;
    margin-top: 40px;
}

.lst {
    font-size: 18px;
}

.cont {
    font-size: 18px;
}

.qoute .qsign {
    position: absolute;
    font-size: 200px;
    top: -75px;
    left: 0;
    margin: 0%;
    padding: 0%;
    color: white;
}


